.step-header {
  padding-bottom: 4px;

  .step-icon {
    font-size: 44px;
    margin-bottom: 8px;
  }
}

.info-text {
  font-size: 14px;
  color: var(--ion-color-medium);
  line-height: 1.6;
  margin-bottom: 4px;
}
